body {
  overflow-x: hidden;
  background-color: #131212;
  color: white;
  display:flex;
}
ul {
  list-style-type: none;
}



/* .hero-section {
  height: 85vh;
} */

.main-img {
  height: auto;

  width: 600px;
}

.offers {
  height: auto;
  width: 400px;
  padding: 20px;
}

.text-padding {
  padding: 20px;
}
.serviceText{
  color: whitesmoke !important;

}
.background-video {
  position: fixed;
  height: auto;
  width: 100%;
  z-index: -1;
  opacity: 0.6;
}

.section-two {
  height: auto;
  margin-top: 3rem!important;
}
.whoAreWe {
  display: flex;
  align-items: center;
}

/* form control */
.form-control {
  width: 545px;
}
.form-lable{
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.form-group{
  align-items: center;
}

.message-control {
  width: 100%;
  max-height: 300px;
  min-height: 200px;
}

/* button styles */
.main-button {
  background-color: #ee2329;
  color: white;
  font-weight: bold;
  width: 100px;
}

.main-button:hover {
  background-color: #ad1b20;
  color: white;
}


@media only screen and (max-width: 600px) {
  .form-control {
    width: 345px;
  }
}
